*{margin:0;padding:0;box-sizing:border-box;}
html{font-size: 20px;}
html,body{height: 100%;overflow: hidden;}
body{background-image:url(../images/bg.jpg);background-size:100% 100%;background-repeat: no-repeat;font-family: "Microsoft Yahei";}
.clearfix{zoom:1;}
.clearfix:after{content: '.';visibility: hidden;display: block;clear: both;line-height: 0;height: 0;}
.fl{float: left;}
.fr{float: right;}
.hide{display: none;}

.sortBox{width:16.5rem;position: absolute;left:.25rem;bottom:0;z-index: 2;}
.sortTitle{height: 2.6rem;background-image:url(../images/sort_titleBg.png);background-size:100%;background-repeat: no-repeat;text-align: center;color:#ffffff;font-size: 1rem;font-weight: 700;line-height: 2.6rem;letter-spacing: 3px;}
.sortTitle .sortBtn{display: inline-block;width:.9rem;height: .9rem;background-image:url(../images/flexBtn.png);background-size: 100%;background-repeat: no-repeat;margin:.6rem .4rem 0 0;cursor: pointer;}
.sortTitle .sortBtn.active{background-image:url(../images/flexBtn1.png);}

.sortCont{background-image:url(../images/sort_contBg.png);background-size:100% 100%;background-repeat: no-repeat;margin-top:.4rem;font-size: 0.8rem;color:#ffffff;padding:.55rem .75rem 0 .75rem;height:44.7rem;overflow: hidden;}
.sortTh{}
.scoreBg{background-size:100% 100%;background-repeat: no-repeat;display: inline-block;line-height: 1.9rem;text-align: center;}
.score{background-image:url(../images/scoreBg.png);width:3.4rem;}
.userid{background-image:url(../images/idBg.png);width:6.0rem;margin-left:.6rem;}
.sort{background-image:url(../images/sortBg.png);width:3.3rem;}
.sortList{margin-top:.55rem;min-height: 25.4rem;}
.sortList ul{height: 44.7rem;overflow: hidden;}
.sortList li{list-style-type: none;margin-top:.5rem;display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;text-align: center;position: relative;font-size: .75rem;}
.sortList li:first-child{margin-top:0;}
.sortList .perBg{width:0;position: absolute;height: 28px;background-color:#2088ca;opacity: .5;z-index: -1;}
.sortList .userid{-webkit-box-flex: 1;-moz-flex-grow: 1;-webkit-flex-grow: 1;flex-grow: 1;margin-left:0;}
.sortList .userid.CN{background-image: url(../images/flag/cn.png);background-repeat: no-repeat;background-size: auto 1.32rem;background-position:left center;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;padding-left:1.1rem;}
.sortList .score,.sortList .userid,.sortList .sort{background: none;line-height: 1.4rem;}
.sortPage{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;padding:1.2rem 0 1.8rem;position: absolute;bottom:0;width:100%;}
.sortPage .pageBg,.sortPage .prevPage,.sortPage .nextPage{background-image: url(../images/pageBg.png);background-repeat: no-repeat;background-size: 100% 100%;width:5.3rem;height: 1.2rem;line-height:1.2rem;text-align: center;cursor: pointer;color:#ffffff;text-decoration: none;}
.sortPage .disabled{width:5.3rem;height: 1.2rem;line-height:1.2rem;text-align: center;background-image: url(../images/pageBg.png);background-repeat: no-repeat;background-size: 100% 100%;background-color:rgba(0,0,0,0.5);border-radius:4px;}
.sortPage .tcdNumber,.sortPage .current{display: none;}

.titleBox{/* display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;-webkit-box-pack: center;-moz-justify-content: center;-webkit-justify-content: center;justify-content: center; */width:100%;position: absolute;left: 0;top:1rem;text-align: center;}
.titleBox .cont{min-width:35rem;height: 2.75rem;/* background-image: url(../images/titleBg.png);background-size: 100% 100%;background-repeat: no-repeat; */font-size: 1.65rem;color:#ffffff;text-align: center;line-height: 2.2rem;letter-spacing: 2px;padding:0 0.8rem;}
.titleBox .logo{width:96px;height:auto;vertical-align: middle;}
.timeBox{position: absolute;right:.5rem;top:0;width:13rem;height:5.7rem;background-image: url(../images/timeBg.png);background-size: 100%;background-repeat: no-repeat;color:#ffffff;text-align: center;padding-top:1.8rem;}
.timeBox p{font-size: .8rem;letter-spacing: 2px;line-height: 1rem;}
.timeBox h6{font-size: 1.4rem;font-weight: 100;letter-spacing: 2px;line-height: 2rem;}
.timeBox h6 i{font-style: normal;}

.infoBox{position: absolute;bottom:0.1rem;padding-left: 16.75rem;width:17.95rem;height: 1rem;color:#ffffff;transition:all .3s;}
.infoBox .cont{display: none;background-image: url(../images/infoBg.png);background-size: 100% 100%;background-repeat: no-repeat;}
.infoBox.open{width:100%;height: 2.5rem;}
.infoBox.open .cont{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;align-items:center;font-size: 0;width:100%;height: 100%;line-height: 2.5rem;white-space: nowrap;}
.infoBox .cont span{display: inline-block;font-size: .65rem;vertical-align: middle;}
.infoBox .cont .img{width:2.5rem;height: 2.2rem;background-image: url(../images/imgBg.png);background-size: 100%;background-repeat: no-repeat;padding:.1rem;text-align: center;margin-left:.1rem;}
.infoBox .cont .playid{padding-left:1rem;}
.infoBox .cont .playScore{padding-left:2rem;}
.infoBox .cont .playScore i{font-style: normal;}
.infoBox .cont .playInfo{padding-left:2.4rem;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;padding-right:2rem;}
.infoBox .cont .img img{width:2.3rem;height: 1.9rem;}
.infoBtn{width:1rem;height: 1rem;background-image:url(../images/infoBtn1.png);background-repeat: no-repeat;background-size: 100%;position: absolute;top:2px;right:3px;cursor: pointer;}
.infoBtn.active{background-image:url(../images/infoBtn.png);}

.planesBox{padding:4.25rem 0 0 13.85rem;}
.planesBox img{width:50%;}
.starsBox{/* position: absolute;bottom:1rem;right:1rem; */text-align: right;position: absolute;top:0;z-index: 4;}
.starsBox img{width:40%;}

.starInfoBox{position: absolute;bottom:50%;right:9.2%;color:#fff;font-size: .8rem;width:13.5rem;transform:scale(0);opacity: 0;transition:all .2s;transform-origin:100% 100%;}
.starInfoBox.open{transform:scale(1);}
.starInfoTitle{height: 1.45rem;background-image:url(../images/starInfoTitleBg.png);background-repeat: no-repeat;background-size: 100%;text-align: center;}
.starInfoTitle i{font-style: normal;padding:0.1rem 1rem 0 .7rem;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;display:block;}
.starInfoTitle .infoBtn{top:4px;}
.starInfoCont{margin-top:.25rem;background-image:url(../images/starInfoContBg.png);background-repeat: no-repeat;background-size: 90%;background-position: center top;padding:.65rem 0 0 0;height: 8.4rem;}
.starInfoCont .tBox{text-align: center;}
.starInfoCont .tBox+.tBox{margin-top:1.7rem;}
.starInfoCont .tBox h6{line-height: 1.3rem;font-size: 0.8rem;}
.starInfoCont .tBox ul{padding:.9rem 0 0 0;}
.starInfoCont .tBox li{line-height: 1.45rem;height:1.45rem;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;margin:.7rem 2.87rem 0 2.5rem;background-repeat: no-repeat;background-position: left 2px;background-size: auto 100%;font-size: 0;padding-left:1.4rem;text-align: left;}
.starInfoCont .tBox li:first-child{margin-top:0rem;background-image:url(../images/trophy01.png);}
.starInfoCont .tBox li:nth-child(2){background-image:url(../images/trophy02.png);}
.starInfoCont .tBox li:nth-child(3){background-image:url(../images/trophy03.png);}
.starInfoCont .tBox li .flag{width:1.8rem;height:1.45rem;display: inline-block;background-repeat: no-repeat;background-color:#2142b1;background-size: 100%;vertical-align: middle;}
.starInfoCont .tBox li .flag.CN{background-image: url(../images/flag/cn.png);}
.starInfoCont .tBox li .title{font-size: .7rem;padding-left: .2rem;}

#targetCanvas{padding:6.2rem 0 0 16.95rem;width:100%;position: absolute;top:0;left: 0;z-index: 3}
#targetCanvas>div{top:4.25rem;left:16.95rem;}

.circleBox{width:24px;height:24px;background-image:url(../images/vortex.png);background-size:100%;background-repeat: no-repeat;position: absolute;-webkit-animation: circle 0.4s infinite linear;animation: circle 0.4s infinite linear;opacity:0;z-index: -1;}
.circleBox.active{opacity: 1;}
@-webkit-keyframes circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
keyframes circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.textInfo{font-family: 'Arial';color:"#ffffff"; font-size:'10px';}
.barrageBox{position: absolute;width:410px;min-height:92px;right:10px;top:6.8rem;color:#ffffff;text-align: center;z-index: 2;background-image:url(../images/barrageBg.png);background-repeat: no-repeat;background-size: 100%;/* border:1px hsla(209,100%,75%,0.5) solid; */}
.barrageBox li{top:4rem;transition:all .3s ease .1s;position: absolute;width:100%;list-style: none;font-size: 15px;}
.barrageBox li.animate{top:0;}

.circlesBgBox{position: absolute;}

.circlesBgBox .circle{border-radius: 50%;border: 2px solid white;position: absolute;}
.circlesBgBox .circle_0{width: 45%;height: 45%;left: 27.5%;top: 27.5%;transform: rotateX(45deg) rotateY(-10deg);}
.circlesBgBox .circle_1{width: 72%;height: 85%;left: 14%;top: 7.5%;transform: rotateX(45deg) rotateY(-10deg);}
.circlesBgBox .circle_2{width: 96%;height: 120%;left: 2%;top: -10%;transform: rotateX(45deg) rotateY(-10deg);}
/* .barrageBox li:first-child{top:0;} */

/* .barrageBox p.active{margin-top:0;} */